- content_for :title, "#{controller.action_name.titleize} Page"

= render 'shared/error_messages', :target => @page

%dl.tabs{'data-tab' => ''}
  %dd.active=link_to 'Page Details', '#pages_page_details'
  %dd=link_to 'SEO', '#pages_seo'
.tabs-content
  #pages_page_details.content.active
    = form.input :name, :placeholder => 'Give your page a meaningful name. Like "Pricing"'
    = form.input :body, :placeholder => 'The contents of the page. You may use markdown.'
    = form.input :image, :as => :file, :placeholder => 'You may upload an image to accompany the body text.'
    = form.hidden_field :retained_image
    = link_to( image_tag(@page.image.thumb('100x100').url), @page.image.url, :rel => 'lightbox' ) if @page.image_uid
  #pages_seo.content
    = render :partial => 'admin/shared/seo_fields', :locals => { :form => form }
  = form.submit :class => 'button tiny secondary'
