!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= @meta_title
    - unless @keywords.blank?
      %meta{ :name => "keywords", :content => @keywords }
    - unless @meta_description.blank?
      %meta{ :name => "description", :content => @meta_description }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/client_nav_bar'
    .row
      .large-12.columns#content
        - if notice
          .alert.alert-block{ :'data-dismiss' => 'alert' }
            %a.close ×
            %p= notice
        - if content_for?(:title)
          .page-header
            %h1= yield(:title)
            - if content_for?(:subtitle)
              %p.subtitle= yield(:subtitle)
        .row.content
          - if content_for?(:sidebar)
            .large-3.columns
              .panel
                = yield(:sidebar)
                %p &nbsp;
                %p &nbsp;
            .large-9.columns= yield
          - else
            .large-12.columns= yield
    = render :partial => 'shared/footer'