!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %meta{ :name => 'google-site-verification', :content => photographer.google_verification }
    %title= @meta_title
    - unless @keywords.blank?
      %meta{ :name => "keywords", :content => @keywords }
    - unless @meta_description.blank?
      %meta{ :name => "description", :content => @meta_description }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/client_nav_bar'
    .row
      .large-12.columns#content
        = yield
    = render :partial => 'shared/footer'